= render 'who', :record => record

- if record.phone_number_attributes.any?
  .contact-phone-numbers
    - record.phone_number_attributes.each do |phone_number_attribute|
      .contact-phone-number= phone_number_attribute

- if record.users.any?
  .contact-emails
    - unless record.ok_to_email?
      .contact-email-warning
        = resource_humanize(:not_ok_to_email)
    - record.users.each do |user|
      .contact-email
        -#= '* ' if contact_user_subscribed_to_newsletter?(user)
        = link_to(user.email, "mailto:#{user.email}")
        = "(#{user.options.type})" if user.options.type
        = "(primary)"              if user.primary?
