%fieldset.contact-standard-fields
  %legend= e9_t(:form_legend_standard)
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :status
    = f.select :status, Contact::Status::VALUES.map {|v| [v.titleize, v] }

  = upload_mount_field(resource.avatar, :reset_path => true)
  -#= upload_mount_field(resource.avatar, :resource_path => upload_avatar_profile_path, :reset_path => reset_avatar_profile_path)

= render 'e9_tags/form', :f => f, :context => [:users, true]

%fieldset.contact-contact-fields
  %legend= e9_t(:form_legend_contact)
  = render_record_attribute_form(:users                               , f)
  = render_record_attribute_form(:phone_number_attributes             , f)
  = render_record_attribute_form(:instant_messaging_handle_attributes , f)
  = render_record_attribute_form(:website_attributes                  , f)
  = render_record_attribute_form(:address_attributes                  , f)

- content_for :bottom_javascripts do
  = javascript_include_tag templates_contacts_path
