%fieldset.nested-associations
  %legend= f.label(:users)
  = render_record_attribute_association(:users, f)
  = link_to_add_record_attribute(:users)
  .field.checkbox
    = f.label :ok_to_email
    = f.check_box :ok_to_email

%fieldset.contact-standard-fields
  %legend= e9_t(:form_legend_standard)
  .field
    = f.label :first_name, nil, :class => :req
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :title
    = f.text_field :title

  = upload_mount_field(resource.avatar, :reset_path => true)

= render 'e9_tags/form', :f => f, :context => [:users, true]

%fieldset.contact-contact-fields
  %legend= e9_t(:form_legend_contact)
  = render_record_attribute_form(:phone_number_attributes, f)
  = render_record_attribute_form(:instant_messaging_handle_attributes, f)
  = render_record_attribute_form(:website_attributes, f)
  = render_record_attribute_form(:address_attributes, f)

%fieldset.contact-background-info
  %legend= help_label(f, :info, :key => :markdown_help, :header => 'Markdown Help')
  .field
    = f.text_area :info

- content_for :bottom_javascripts do
  = javascript_include_tag templates_contacts_path

  #merge-dialog{:title => t(:email_taken_title), 'data-id' => resource.try(:id) }
    = t(resource.persisted? ? :edit_conflict : :merge_conflict).html_safe
  #duplicate-dialog{:title => t(:duplicate_email_title), 'data-id' => resource.try(:id) }
    = t(:duplicate_email_warning).html_safe

