%fieldset.contact-standard-fields
  %legend= e9_t(:form_legend_standard)
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :company_name
    = f.text_field :company_name
  .field
    = f.label :title
    = f.text_field :title

= render 'e9_tags/form', :f => f, :context => [:users, true]

%fieldset.contact-contact-fields
  %legend= e9_t(:form_legend_contact)

  %fieldset.nested-associations
    %legend
      %span= f.label(:users)
      = link_to_add_record_attribute(:users)
    = render_record_attribute_association(:users, f)

  %fieldset.nested-associations
    %legend
      %span= f.label(:phone_number_attributes)
      = link_to_add_record_attribute(:phone_number_attributes)
    = render_record_attribute_association(:phone_number_attributes, f)

  %fieldset.nested-associations
    %legend
      %span= f.label(:instant_messaging_handle_attributes)
      = link_to_add_record_attribute(:instant_messaging_handle_attributes)
    = render_record_attribute_association(:instant_messaging_handle_attributes, f)

  %fieldset.nested-associations
    %legend
      %span= f.label(:website_attributes)
      = link_to_add_record_attribute(:website_attributes)
    = render_record_attribute_association(:website_attributes, f)

  %fieldset.nested-associations
    %legend
      %span= f.label(:address_attributes)
      = link_to_add_record_attribute(:address_attributes)
    = render_record_attribute_association(:address_attributes, f)

= javascript_include_tag templates_contacts_path
