- if resource.users.any?
  .contact-emails
    %fieldset
      %legend= Contact.human_attribute_name(:users)
      - resource.users.each do |user|
        .contact-email
          -#= '* ' if contact_user_subscribed_to_newsletter?(user)
          = link_to(user.email, "mailto:#{user.email}", 'data-contact-id' => resource.id, 'data-user-id' => user.id, :class => 'contact-mailto')
          = "(#{user.options.type})" if user.options.type
          = "(primary)"              if user.primary?

- if resource.phone_number_attributes.any?
  .contact-phone-numbers
    %fieldset
      %legend= Contact.human_attribute_name(:phone_number_attributes)
      - resource.phone_number_attributes.each do |phone_number_attribute|
        .contact-phone-number= phone_number_attribute

- if resource.instant_messaging_handle_attributes.any?
  .contact-im-handles
    %fieldset
      %legend= Contact.human_attribute_name(:instant_messaging_handle_attributes)
      - resource.instant_messaging_handle_attributes.each do |instant_messaging_handle_attribute|
        .contact-im-handle= instant_messaging_handle_attribute

- if resource.website_attributes.any?
  .contact-websites
    %fieldset
      %legend= Contact.human_attribute_name(:website_attributes)
      - resource.website_attributes.each do |website_attribute|
        .contact-website
          = website_attribute.to_s

- if resource.address_attributes.any?
  .contact-addresses
    %fieldset
      %legend= Contact.human_attribute_name(:address_attributes)
      - resource.address_attributes.each do |address_attribute|
        .contact-address
          .actions
            = address_attribute.link 
          .address
            = address_attribute.to_s
          
