.contact-who
  - unless local_assigns[:hide_name]
    %span.contact-who-name= record.name

    = " - " if record.company_id? || record.title?

  - if record.title?
    %span.contact-who-title
      = link_to_contact_search(:search, record.title)

  = " at " if record.company_id? && record.title?

  - if record.company_id?
    %span.contact-who-company
      = link_to_contact_search(:company, record.company_id, record.company_name)
