= title (@index_title || e9_t(:index_title))

#index-body
  #records_table
    = render 'table', :resources => collection
  = render 'footer'

#index-sidebar
  .actions
    = link_to_new_resource(Contact)
    = link_to_new_resource(Company)

  -# Email actions (template, newsletter)
  - etag, ntag = contact_email_template_select_tag, contact_newsletter_select_tag
  - if [etag, ntag].any?(&:present?)
    %fieldset
      %legend= e9_t(:email_actions_legend)
      - if etag
        = form_tag new_contact_email_path, :method => :get, :id => 'contact_email_form', 'data-empty' => e9_t(:no_contacts_notification), 'data-count' => @contact_ids.length do
          = etag
          = hidden_field_tag 'uids', @contact_ids.join(','), :id => 'contact_email_uids'
          = submit_tag e9_t(:send_email_template), :name => nil
      - if ntag
        = form_tag send_email_admin_user_email_path('__ID__'), :method => :put, :id => 'contact_newsletter_form', 'data-confirm' => e9_t(:contact_newsletter_confirmation, :count => collection.length), 'data-empty' => e9_t(:no_contacts_notification), 'data-count' => @contact_ids.length  do
          = ntag
          = hidden_field_tag 'uids', @contact_ids.join(','), :id => 'contact_newsletter_uids'
          = submit_tag e9_t(:send_email_newsletter), :name => nil

  -# Search filter options
  %fieldset
    %legend= e9_t(:search_options_legend)
    = form_tag(resource_class, :method => :get, :id => 'contact_search_form') do
      = label_tag 'contact_search_field', t(:search)
      = text_field_tag 'search', params[:search], :id => 'contact_search_field'
      = submit_tag t(:go), :name => nil
    = render 'tag_table'
    .actions
      = submit_tag t(:clear), :name => nil, :id => 'contact_search_clear'
