.contact-body
  = title resource.name
  = render 'who', :record => resource
  .contact-links.actions
    = link_to_edit_resource(resource)
    = google_search_link(resource.name)
    = google_news_link(resource.name)
  - if (tags = resource.tags(:show_all => true)).present?
    .contact-tags
      %label #{Tag.model_name.human.pluralize}:
      = contact_tag_list(tags)
  .contact-info
    %label #{Contact.human_attribute_name(:info)}:
    = contact_simple_format(resource.info.presence || t(:none))
  - if company = resource.company
    .contact-company
      %label= company.name
      .contact-company-links.actions
        = google_search_link(company.name)
        = google_news_link(company.name)
      - if company.info.present?
        = contact_simple_format(company.info)
.contact-sidebar
  = render 'sidebar'
