- id = f.object.persisted? ? f.object.id : @temp_id
.field.date-picker
  - if temp_id = f.object.temp_id || @temp_id
    = f.hidden_field :temp_id, :value => temp_id
  - fid = "dated_cost_date_#{id}"
  - unless request.xhr?
    = f.label :date, nil, :class => :req, :for => id
  = f.text_field :date, :class => 'date-picker', :value => l(f.object.date), :id => id
.field.cost
  - fid = "dated_cost_cost_#{id}"
  - unless request.xhr?
    = f.label :cost, nil, :class => :req, :for => id
  = f.text_field :cost, :id => id, :value => f.object.cost.to_money
.actions
  = f.submit
