= title @index_title || e9_t(:index_title)

%fieldset
  .dated-costs
    .dated-cost-labels
      .field
        = resource_class.human_attribute_name(:date)
      .field.cost
        = resource_class.human_attribute_name(:cost)

    = render collection

    .actions
      = link_to_new_resource(resource_class, :class => 'new-resource')
