.actions.top
  - if resource.persisted?
    - if resource.lead?
      = link_to 'Back to Leads', leads_path
    - else
      = link_to_destroy_resource(resource, :remote => false)

.field
  = f.label :name, nil, :class => :req
  = f.text_field :name
.field.select
  = f.label :category
  = f.select :category, MenuOption.options_for('Deal Category'), :include_blank => 'No Category'
.field
  = f.label :campaign, :for => 'deal_campaign_select'
  = f.collection_select :campaign_id, Campaign.ordered.all, :id, :to_s, {:prompt => true}, :id => 'deal_campaign_select'
.field
  = f.label :info
  = f.text_area :info
.field
  = f.label :value, nil, :class => :req
  = f.text_field :value
.field.select
  = f.label :owner
  = f.collection_select :contact_id, Contact.sales_persons.all, :id, :name, :prompt => true
.field.select
  = f.label :contacts
  %input#contact_autocomplete.list{:type => 'text', 'data-values' => f.object.contact_ids.join(','), 'data-iname' => resource_instance_name, 'data-field' => '[contact_ids]'}
  %ul.select
    - f.object.contacts.each do |contact|
      %li.ui-state-default
        %span.content= contact.name
        %input{:type => :hidden, :name => "contact[contact_ids][]", :value => contact.id}
        %a{:class => :remove, :title => "Remove", :alt => "Remove"} Remove
