.toolbar
  .toolbar-left
    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      %select{:name => 'status'}
        = deal_status_select_options
      %select{:name => 'category'}
        = deal_category_select_options 
      %select{:name => 'owner'}
        = deal_owner_select_options 
      %select{:name => 'closed'}
        = deal_date_select_options(:type => :in_month)

  .toolbar-right
    = link_to I18n.t('activerecord.links.index', :models => 'Leads'), leads_path
    = link_to_new_resource(Deal)
