.toolbar
  .toolbar-left
  .toolbar-middle
    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      %fieldset
        %legend= t(:form_legend_filter_campaigns)
        %select{:name => 'offer'}
          = deal_offer_select_options 
        %select{:name => 'from'}
          = deal_date_select_options
        %select{:name => 'until'}
          = deal_date_select_options(:type => :until)

  .toolbar-right
    %fieldset
      %legend= t(:form_legend_manage)
      .manage-deals
        = link_to_collection(Deal)
