%table.records
  %thead
    %tr
      %th= orderable_column_link(:name)
      %th= orderable_column_link(:status)
      %th= orderable_column_link(:category)
      %th= orderable_column_link('owner_name', :owner)
      %th= orderable_column_link(:value)
      %th= t(:actions)
  %tbody
    -# prepare a hash to store the accumulated row data for calculations
    - dat = Hash.new {|k,v| k[v] = [] }

    - if collection.empty?
      %tr
        %td{:colspan => 6}= e9_t(:no_records_text, :scope => 'e9_crm.deals')
    - else
      - collection.each do |record|
        %tr{:id => "ids_#{record.id}", :class => cycle('odd', 'even')}
          %td.record-name
            = record.name
          %td.record-status
            = record.status
          %td.record-category
            = record.category
          %td.record-owner
            = record.owner_name
          %td.record-value
            - dat[:value] << record.value
            = record.value
          %td.actions
            = link_to_edit_resource(record)
            = link_to_destroy_resource(record)

    %tfooter
      %tr{:class => 'record-totals'}
        %td.record-totals-label{:colspan => 4}
          #{t(:total)}:
        %td.record-totals
          = dat[:value].sum
        %td
