.record-attribute.nested-association
  = f.hidden_field :status

  - if f.object.persisted?
    = f.hidden_field :id
    = f.hidden_field :_destroy, :value => 0
    .field
      = f.object.email
  - else
    .field
      = f.email_field :email

  = f.fields_for f.object.options do |ff|
    .field
      = ff.select :type, User.email_types
    .field.radio
      = ff.label :primary
      = ff.radio_button :primary, true

  - if f.object.prospect?
    = link_to_destroy_record_attribute
