- field_map = local_assigns[:field_map] || records_table_field_map

%table.records{:class => sortable_controller? ? 'sortable' : nil }
  %thead
    %tr
      - field_map[:fields].keys.each do |field|
        %th= resource_class.human_attribute_name(field)
      %th= e9_t(:actions)
  %tbody
    - if collection.empty?
      %tr
        %td{:colspan => field_map[:fields].length + 1}= e9_t(:no_records_text)
    - else
      - collection.each do |record|
        %tr{:id => "ids_#{record.id}", :class => cycle('odd', 'even')}
          - field_map[:fields].each do |key, value|
            %td{:class => "contact-#{key}"}
              = value.respond_to?(:call) ? value.call(record) : record.send(key)
          %td.links
            - field_map[:links][record].each do |link|
              = link
