- _fields = {:id => nil}

%table.records
  %thead
    %tr
      - _fields.keys.each do |field|
        %th= resource_class.human_attribute_name(field)
      %th= e9_t(:actions)
  %tbody
  - if collection.empty?
    %tr
      %td{:colspan => _fields.length + 1}= e9_t(:no_records_text)
  - else
    - collection.each do |r|
      %tr{:id => "ids_#{r.id}", :class => cycle('odd', 'even')}
      - _fields.each do |key, val|
        %td= val.respond_to?(:call) ? val.call(r) : r.send(key)
        %td.links
          = link_to "Edit", edit_resource_path(r)
          = link_to "Destroy", resource_path(r), :confirm => 'Are you sure?', :method => :delete

= will_paginate collection
