%table.records
  %thead
    %tr
      %th= orderable_column_link(:created_at)
      %th= orderable_column_link('campaign.name', :campaign)
      %th= orderable_column_link(:request_path)
      %th= orderable_column_link(:referer)
      %th= orderable_column_link(:remote_ip)
  %tbody
    - if collection.empty?
      %tr
        %td{:colspan => 5}= e9_t(:no_records_text)
    - else
      - collection.each do |record|
        %tr{:id => "ids_#{record.id}", :class => cycle('odd', 'even')}
          %td.record-created-at
            = I18n.l(record.created_at)
          %td.record-campaign-name
            = record.campaign_name || e9_t(:no_campaign)
          %td.record-request-path
            = record.request_path
          %td.record-referer
            = record.referer
          %td.record-remote-ip
            = record.remote_ip

- if controller.send(:should_paginate_index)
  = will_paginate collection
