%fieldset
  %legend= e9_t(:campaign_information_legend, :scope => 'e9_crm.campaigns')
  .field
    = f.label :campaign_group_id
    = f.collection_select :campaign_group_id, CampaignGroup.all, :id, :name
  .field
    = f.label :name
    = f.text_field :name
  .field#campaign_code_field
    = f.label :code
    = f.text_field :code
  .field
    %label{:for => 'campaign_code_hint'}= resource_class.human_attribute_name(:code_hint)
    %span#campaign_code_hint= "?#{E9Crm.query_param}=#{f.object.code}"
