- content_for :toolbar_middle do
  = toolbar_filters do
    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      .field
        = label_tag 'campaign-type', t(:filter_by, :attribute => resource_class.human_attribute_name(:type))
        %select{:name => 'type', :id => 'campaign-type'}
          = campaign_type_select_options
      .field
        = label_tag 'campaign-group', t(:filter_by, :attribute => resource_class.human_attribute_name(:group))
        %select{:name => 'group', :id => 'campaign-group'}
          = campaign_group_select_options
      .field
        = label_tag 'campaign-active', t(:filter_by, :attribute => resource_class.human_attribute_name(:active))
        %select{:name => 'active', :id => 'campaign-active'}
          = campaign_active_select_options

- content_for :toolbar_right do
  = toolbar_forms do
    = form_tag new_campaign_path, :method => :get, :id => 'new_campaign_form' do
      = label_tag 'new_campaign_type_select', t('activerecord.links.new', :model => Campaign.model_name.human)
      %select{:name => 'type', :id => 'new_campaign_type_select'}
        = campaign_type_select_options(false)
      = submit_tag t(:go), :name => nil
