%table.records
  %thead
    %tr
      %th= orderable_column_link(:type)
      %th= orderable_column_link(:name)
      %th= orderable_column_link('campaign_group.name', :campaign_group)
      %th= orderable_column_link(:new_visits)
      %th= orderable_column_link(:repeat_visits)
      %th= orderable_column_link(:deals_count)
      %th= orderable_column_link(:won_deals_count)
  %tbody
    - if collection.empty?
      %tr
        %td{:colspan => 5}= e9_t(:no_records_text)
    - else
      - collection.each do |record|
        %tr{:id => "ids_#{record.id}", :class => cycle('odd', 'even')}
          %td.record-type
            = record.type[/(.*)Campaign/, 1]
          %td.record-name
            = record.name
          %td.record-campaign-group
            = record.campaign_group || e9_t(:no_group, :scope => 'e9_crm.campaigns')
          %td.record-new-visits
            = record.new_visits
          %td.record-repeat-visits
            = record.repeat_visits
          %td.record-deals-count
            = record.deals_count
          %td.record-won-deals-count
            = record.won_deals_count
