= title (@index_title || e9_t(:index_title, :scope => 'e9_crm.reports'))

.toolbar
  .toolbar-left
    = form_tag(resource_class, :method => :get, :class => 'scope-selects') do
      %select{:name => 'type'}
        = campaign_type_select_options
      %select{:name => 'group'}
        = campaign_group_select_options
      %select{:name => 'from'}
        = deal_date_select_options
      %select{:name => 'until'}
        = deal_date_select_options(:type => :until)

  .toolbar-right
    = link_to_collection(Campaign)

%div#records_table
  = render 'reports_table'
