.field
  = f.label :name, nil, :class => :req
  = f.text_field :name
.field
  = f.label :from_email
  = f.text_field :from_email
.field
  = f.label :subject, nil, :class => :req
  = f.text_field :subject
.field
  = f.label :text_body, nil, :class => :req
  = f.text_area :text_body
